@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html {
    font-size: 62.5%;
}
  /* body {
     background-color: #0d192b; 
 } */

body {
  background: linear-gradient(to bottom right, #6e37a1, #6a93d1);
}
.empty-msg {
 width: 100%;
 text-align: center;
 font-size: 2rem;
 color: #fff;
}

.card-footer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 0 0;
}

hr {
    height: 0.01rem;
    border: 0.1rem solid white; 
}
.username {
    padding-top: 1rem;
    color: #fff;
}
 img{
    max-width: 100%;
    width: 22rem;
    height: auto;
    border-radius: 1rem;
 }
 .card {
    min-width: 20rem;
    min-height: 20rem;
    background-color: #034568;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s linear;

    &:hover {
      transform: translateY(-2rem);
      box-shadow: rgba(224, 222, 223, 0.15) 0px 48px 100px 0px;
 }
    }
  button {
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
  }
  .main_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 6rem 0;
    justify-content: center;
  }
  input {
    width: 25rem;
    height: 5rem;
    border:  #81a7e0 solid 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  .search-input {
    width: 100%;
    margin: 5rem auto 0 auto;
    text-align: center;
  }
  
  section {
    width: 80%;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
  }

  